@import "tailwindcss";

@theme {
  --color-palette-light: #DCD7C9;
  --color-palette-brown: #A27B5C;
  --color-palette-green: #3F4F44;
  --color-palette-dark: #2C3930;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;


  color-scheme: light dark;
  color: var(--color-palette-dark);
  background-color: var(--color-palette-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

